@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/* Basic Styling */
body{
    font-family:"Montserrat", Arial, Helvetica, sans-serif;
    font-size:16px;
    display:flex;
    flex-direction:column;
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
}

/********/
.wrapper{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    padding:0;
}

/*Start Header */
#logo img{
    max-width:100%;
    height:auto;
}

#logo{
    cursor: pointer;
}

.main_header nav{
    display:flex;
    margin: 0;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    background-color:#333;
    top:0;
}

.main_header ul{
    display:flex;
    order:1;
    width: auto;
    text-align:center;
    list-style:none;
    margin:1em 0 0.5em;
    font-size: 16px;
}

.main_header a{
    color: white;
    display:inline-flex;
    text-decoration: none;
    padding: 8px;
}

.main_header a:hover{
    color: rgba(44, 88, 222, 0.8);
    transition:all 0.5s ease 0s;
    text-decoration-style: none;
}

/* End of Header*/


/* Main Content*/
.main_content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:100%;
    margin-top:-275px;
    background-color:gray;
    background-repeat:no-repeat;
    background-blend-mode: luminosity;
}

#About{ /*container parent*/
    height:800px;
    display:flex;
    align-items:center;
    justify-content: center;
    background:url(images/about_bg.gif);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

/*About Me Content*/
.flex-container {
    display:flex;
    align-self:center;
    height:500px;
    width:700px;
} 

.flex-container img{
    display:flex;
    width:100%;
    height: 100%;
    margin-right: 10px;
    object-fit:contain;
}

.info_content {
    display:flex;
    flex-direction: column;
    flex:1;
}

/* Portfolio Start*/
#Portfolio{
    background:url(images/portfolio_bg.jpg);
    background-size:cover;
    height:800px;
    background-attachment:no-repeat;
    background-repeat:no-repeat;
    background-position:center;
    display:flex;
    align-content: flex-end;
}

.grid_container{
    display:flex;
}

.list img {
    width: 100%;
}

.list h1{
    font-size:60px;
    font-weight: 700;

}
.list h2 {
    font-size:2.4em;
    font-weight: 700;
}


/*Flex items*/
.list {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    list-style:none;
    justify-content: flex-end;
    max-width:100%;
    max-height:100%;
}
.list-item {
    display: flex; 
    padding: 0.2em;
    max-width: 100%;
}

.list-item a:hover{
  opacity: 0.5;
  /*
  box-shadow: inset 0px 0px 0px 1px;
  transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
  will-change: transform;
  cursor: pointer
  +translate(0,-4px); */
  
}
@media all and (min-width: 40em) {
    .list-item {
        width: 50%;
}
}
@media all and (min-width: 60em) {
    .list-item {
        width: 33.33%;
}
  
#Senior_Design{
  border-radius: var(--main-radius);
  /*padding-left:  var(--main-padding);*/
    border: var(--main-border);
    grid-area: Senior_Design;
    border: 2px solid;
    background-attachment: fixed;
    background: url(images/Bend_bg.png) center center;
    background-size: contain;
}  
 
#Senior_Design a:hover{
  opacity: 0.25;
  box-shadow: inset 0px 0px 0px 1px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
    will-change:transform;
    cursor: pointer
    +translate(0,-4px);
    
}  

#Wind_Turbine{
    border-radius: var(--main-radius);
    border: var(--main-border);
    grid-area: Wind_Turbine;
    border: 2px solid;
    background-attachment: fixed;
    background: url(images/Wind_Farm_JPG.jpg) center center;
    background-size: cover;
}  
  
#Stirling_Engine{
   border-radius: var(--main-radius);
    border: var(--main-border);
    grid-area: Stirling_Engine;
    border: 2px solid;
    background-attachment: fixed;
    background: url(images/Stirling_Engine.jpg) center center;
    background-size: cover;
}
  
#Pacman{
  border-radius: var(--main-radius);
    border: var(--main-border);
    grid-area: Pacman;
    border: 2px solid;
    background-attachment: fixed;
    background: url(images/Pacman.jpg) center center;
    background-size: cover;
}  

#Face_Rec_Heat_Engine{
  border-radius: var(--main-radius);
    border: var(--main-border);
    grid-area: Heat_Engine;
    border: 2px solid;
    background-attachment: fixed;
    background: url(images/Heat_Engine_1.jpg) center center;
    background-size: cover;
}
}
.list-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 1em;
    max-width: 100%;
  overflow: hidden;
}
.list-content p {
    flex: 1 0 auto;
}

/******/
#Timer{
    background:url(images/pomodor_tut.png);
    background-size:cover;
    height:800px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid #333;
}

#Timer h3{
    font-family:"Niconne",sans-serif;
    font-size:60px;
    text-align: center;
}
#container {
    height: 200px;
    width: 700px;
    background-color: #F5E4C3;
    margin: 0 auto;
    border: 5px solid #88B169;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

/*timers*/
.label {
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

#work {
    grid-area: 1 / 2 / 1 / 2;
}
#break {
    grid-area: 1 / 4 / 1 / 4;
}
#cycles {
    grid-area: 1 / 3 / 1 / 3;
}

.timer {
    display: flex;
    align-self: center;
    justify-self: center;

    font-size: 30px;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
}

#counter {
    grid-area: 2 / 3 / 2 / 3;
    color: red;
}

#work-timer {
    grid-area: 2 / 2 / 2 / 2;
}

#break-timer {
    grid-area: 2 / 4 / 2 / 4;
}

/*buttons*/

.btn {
    align-self: center;
    justify-self: center;

    width: 100px;
    height: 30px;

    font-size: 20px;
}

#start {
    grid-area: 3 / 2 / 3 / 2;
}

#reset {
    grid-area: 3 / 3 / 3 / 3;
}

#stop {
    grid-area: 3 / 4 / 3 / 4;
}

/* #pomodoro_container{
    float:center; 
}
*/

/********/

#Blog{
    background:url(images/blog_bg.png);
    background-size:cover;
    height:800px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid #333;
}

/*Sidebar Navigation =*/

#sidebar{
    width: 14%;
    height:220px;
    margin:20px;
    display: flex;
    float:left;
    position:sticky;
    top:40%;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
}

i{
    color:white;
    font-weight: normal;
    font-size:2em !important;
}

.fa-li.fas.fa-bell{
    @font-face font-weight:900;
}

.sidebar_links {
    display:flex;
    width:100%;
    text-align:center;
    justify-content:space-evenly;
    flex-direction:column;
    background:#333
  }

.sidebar_links li{
    align-items: center;
    justify-content:space-between;
    display:-ms-flexbox;
    margin-left:30px;
    padding-bottom: 10px;
}

.sidebar_links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    display:-ms-flexbox;
    justify-content:space-between;
}


.sidebar_links a:hover{
    color: rgba(44, 88, 222, 0.8);
    transition:all 0.5s ease 0s;
    text-decoration-style: none;
}