@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

/* Basic Styling */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:"Montserrat", sans-serif;
}

/*Start Header */
img{
    max-width:100%;
    height:auto;
}

#logo{
    cursor: pointer;
}

.container{
    width:100%;
    max-width:100%;
    padding:15px;
    background:#333;
}

@media (min-width: 960px) {
    .main_header .container{
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-wrap:wrap;
        background:#333
    }
}

.nav_links ul{
    text-align:center;
    list-style:none;
    margin:1em 0 0.5em;
    font-size: 16px;
}

.nav_links li{
    display:inline;
}

.nav_links a{
    color: white;
    display:inline-flex;
    text-decoration: none;
    padding: .5em 1 .5em;
}

.nav_links a:hover{
    color: rgba(44, 88, 222, 0.8);
    transition:all 0.5s ease 0s;
    text-decoration-style: none;
}

/* End of Header*/


/* Main Content*/
p{
    font: size 30px;
    margin-top:60px;

}

.About{
    background:url(images/about_bg.gif);
    /* position:absolute;
    top:50px; */
    background-size:cover;
    height:700px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid red;
}

/*About Me Content*/
.flex-container {
    margin-left:20%;
    margin-right:20%;
    margin-top:0;
    margin-bottom:0;
    display: flex;
    border: 2px solid #333;
    margin-bottom: 2rem;
    height:600px;
    justify-content: space-between;
}

.flex-child:first-child {
    flex: 1;
    background-size: cover;
    background-position: center;
    width:100%;
    background-image: url("images/chris-pic-small.JPG");
    object-fit:contain;
}

.flex-child:last-child{
    margin: 2rem;
    flex: 2;
}

.Portfolio{
    background:url(images/portfolio_bg.jpg);
    background-size:cover;
    height:700px;
    background-attachment:no-repeat;
    background-repeat:no-repeat;
    background-position:center;
}

.outer {
    display: flex;
    min-height: 100%;
    padding-left: 100px;
    flex-direction: column; 
  }
  
  .row {
    border: 1px solid blue;
    display: flex;
    flex: 1; 
  }
  
  .item {
    background-color: orange;
    border: 1px solid red;
    flex: 1; 
  }

.Timer{
    background:url(images/pomodoro_bg.jpg);
    background-size:cover;
    height:700px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
}

.Blog{
    background:url(images/blog_bg.png);
    background-size:cover;
    height:700px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
}

/*Sidebar Navigation =*/
#sidebar_links {
    width: 12%;
    height: 200px; 
    position: -webkit-sticky;
    padding:20px;
    position: sticky;
    top: 50%;
    background:gray;
    border: 2px solid black;
    border-radius: 30px;
  }

#sidebar_links a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    display:block;
    padding-bottom: 5px;
}

#sidebar_links a:hover{
    color: rgba(44, 88, 222, 0.8);
    transition:all 0.5s ease 0s;
    text-decoration-style: none;
}