@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');

/* Basic Styling */
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family:"Montserrat", Arial, Helvetica, sans-serif;
    font-size:16px;
}

/*Start Header */
#logo img{
    max-width:100%;
    height:auto;
}

#logo{
    cursor: pointer;
}


.container{
    width:100%;
    max-width:100%;
    padding:15px;
    background:#333;
    position:absolute;
    top:0;
}

@media (min-width: 960px) {
    .main_header .container{
        display:flex;
        align-items:center;
        justify-content:space-between;
        flex-wrap:wrap;
        background:#333
    }
}

.nav_links ul{
    text-align:center;
    list-style:none;
    margin:1em 0 0.5em;
    font-size: 16px;
}

.nav_links li{
    display:inline;
}

.nav_links a{
    color: white;
    display:inline-flex;
    text-decoration: none;
    padding: 8px;
}

.nav_links a:hover{
    color: rgba(44, 88, 222, 0.8);
    transition:all 0.5s ease 0s;
    text-decoration-style: none;
}

/* End of Header*/


/* Main Content*/

.About{
    background:url(images/about_bg.gif);
    height:800px;
    background-position: center;;
    background-repeat:no-repeat;
    border: 2px solid #333;
}

/*About Me Content*/
.flex-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid #333;
    height:500px;
}

.flex-child{
    display: inline-block;
    padding: 10px 0;
 }

.flex-child img{
    width:100%;
    height: 100%;
    margin-right: 10px;
    text-align:center;
    object-fit:cover;
}

.flex_child p{
    font-size:15px;
    margin-top:60px;
}

.Portfolio{
    background:url(images/portfolio_bg.jpg);
    background-size:cover;
    height:800px;
    background-attachment:no-repeat;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid #333;
}

.outer {
    display: flex;
    min-height: 100%;
    padding-left: 100px;
    flex-direction: column; 
  }
  
  .row {
    border: 1px solid blue;
    display: flex;
    flex: 1; 
  }
  
  .item {
    background-color: orange;
    border: 1px solid red;
    flex: 1; 
  }

.Timer{
    background:url(images/pomodoro_bg.jpg);
    background-size:cover;
    height:700px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid #333;
}

.Blog{
    background:url(images/blog_bg.png);
    background-size:cover;
    height:700px;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    border: 2px solid #333;
}

/*Sidebar Navigation =*/

#sidebar{
    width: 14%;
    height:220px;
    margin:20px;
    display: flex;
    float:left;
    position:sticky;
    top:40%;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
}

.sidebar_links {
    display:flex;
    width:100%;
    text-align:center;
    justify-content:space-evenly;
    flex-direction:column;
    background:#333
  }

.sidebar_links li{
    padding-left:5px;
    justify-content:space-evenly;
}

.sidebar_links a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    display:flexbox;
    padding-bottom: 5px;
}


.sidebar_links a:hover{
    color: rgba(44, 88, 222, 0.8);
    transition:all 0.5s ease 0s;
    text-decoration-style: none;
}